
{% extends 'base.html.twig' %}
{% block  metatitle %}market+ accueil{% endblock %}
{% block content %}
<!---je recupere le header dans le fichier base.html.twig--->
<!---je recuper les informatioon du fichier pagecontroller puis jaffiche tout--->
<center><br><br><br><br><br>
{% for book in books %}
        <div id="center" ><h1>{{book.title}}</h1></div>
        <div id="center" ><h1>{{book.author}}</h1></div>
        <a href="{{ path('book', {'id': book.id }) }}">Voir Le Livre</a><br>
        <a class="supp" href="{{ path('book_delete', {'id': book.id }) }}">Supprimer le Book</a>
<br><br><br><br>        
{% endfor %}
</center>
{% endblock content %}
