<!DOCTYPE html>
<html>
<head>
    <title>accueil</title>
    <meta charset="UTF=8">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
</head>
</body>

    <a href="{{ path('books') }}">
        <div class="button">achats</div>
    </a>

    <img height="540px" src="https://static.fnac-static.com/multimedia/Images/FD/Comete/66646/CCP_IMG_ORIGINAL/816059.jpg"/>
    <img height="540px" src="https://static1.terrafemina.com/articles/2/33/67/92/@/489937-le-pouvoir-du-moment-present-d-eckhart-622x0-1.jpg"/>
    <img height="540px" src="https://static.fnac-static.com/multimedia/Images/FD/Comete/66656/CCP_IMG_ORIGINAL/816199.jpg"/>
    <img height="540px" src="https://products-images.di-static.com/image/mary-higgins-clark-ni-vue-ni-connue/9782253170563-475x500-1.jpg"/>
    
    <!---container img--->
    <div class="container-img" />
        <img height="540px" src="https://movaway.fr/wp-content/uploads/2019/06/Percy-Jackson-Rick-Riordan-min-196x300.jpg"/>
        <img height="540px" src="http://cdn.shopify.com/s/files/1/0517/5915/3314/products/0369252_1024x1024.jpg?v=1634607756"/>
        <img height="500px" src="https://images-na.ssl-images-amazon.com/images/I/41nkUUbQmoL._SX320_BO1,204,203,200_.jpg" />
        <img height="500px" src="https://lewebpedagogique.com/destinationfrancais/files/2012/06/les-miserables-83116-250-400.jpg" />
    </div>

</body>
</html>