<!DOCTYPE html>
<html>
<head>
    <title>accueil</title>
    <meta charset="UTF=8">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
</head>
</body>
<h1>crée avec succés</h1>
</body>
</html>